/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
/.vscode/
/node_modules/
.codely-cli/
/.codely.packages/
/TestResults/
*.unitypackage

# 大剑动画素材已纳入 Git LFS，原 .meta 随仓库保存


